@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {
    --primary-color: #C92071;
    --secondary-color: #B5B6F2;
    --tertiary-color: #991956;
    --error-color: #EE4266;
    --success-color: #52CA76;
    --warning-color: #F6AA1C;
    --white-color: #FFFFFF;

    /* Grayscale */
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;

    /* Fontes base */
    --fonte-inter: 'Inter', sans-serif;


}

* {
    font-family: var(--fonte-inter);
    margin: 0;
}

.header-superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}


.logo {
    width: 33px;
    height: 33px;
    top: 38px;
    gap: 0px;
    opacity: 0px;
}

.title-header {
    color: var(--primary-color);
}

.input-busca {
    border-radius: 8px;
    width: 40%;
    height: 60px;
    margin-left: 40px;
    background-color: var(--light-gray-3);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    border-style: none;
    padding: 0 16px;
}

.link-cadastro {
    color: var(--dark-gray-2);
}

.botao-entrar {
    background-color: var(--primary-color);
    color: var(--light-gray-3);
    font-family: var(--fonte-inter);
    border-radius: 10px;
    padding: 1em 2em 1em;
    border-color: var(--primary-color);
}

.bar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5%;
    margin: 25px;
    justify-content: left;
    text-align: center;
    color: var(--dark-gray-2);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.70px;
    text-align: center;
}

.footer {
    background-color: var(--dark-gray);
    color: var(--white-color);
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}